/* Responsiveness ************************************************************/
* {
    box-sizing: border-box;
}

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 768px) {
    /* For tablets */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



/* General *******************************************************************/
html {
    font-family: 'Libre Baskerville', serif; 
    /* font-family: 'Libre Baskerville', sans-serif; */
}

body {
    font-family: 'Libre Baskerville', serif; 
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    margin-bottom: 0;
    border-bottom: 2px solid grey;
}

h2 {
    font-family: 'Libre Baskerville', serif; 
    font-weight: 400;
    font-size: 2.1vw;
    margin-bottom: 0;
}

hr {
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
}
